ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #331;
    overflow: hidden;
}
li {
    float: left;
}
a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
    background-color: rgb(164, 143, 143);
}